
.cell { width: 75px; 
    height: 75px; 
    border: 1px solid black; 
    text-align: center; 
    font-size: 50 px; 
    cursor: pointer; 
    box-shadow: 0 0 0 2px;
    line-height: 75px;

}
#gameContainer{
    font-family: "Permanent Marker", Cursive; /*font style*/
    text-align: center;

}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}